section {
    width: 87.5%;
    margin: 25px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

section h2, section p {
    padding: 50px 0;
}

#sliderGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: auto;
    width: 100%;
}

#sliderGrid * {
    margin: auto;
}

.event input {
    height: 100%;
    width: 100%;
    border: none;
    color: #ff5d5d;
    background: none;
    font-weight: 900;
    font-size: 250%;
}

.event img {
    max-width: 100%;
}

.event input:hover {
    font-size: 500%;
}

.card-container{
    display: block;
    margin-left: 80px;
    width:150px;
    float:left;
}

.icon-card{

    width: 150px;
    height: 140px;
    margin-bottom: 8px;
    
}

.card-text{
    /*text-align: center;*/
    margin:0;

}

.card-content-container{
        overflow: auto;
        position:relative;
        width:100%;
        height: 250px;
}